.inner-page {
    font-size: 16px;
}

.team h3, .team h5 {
    color: #1d359f;
}

.team h3 {
    font-size: 27px;
}

.team h5 {
    font-size: 17px;
}

.team p {
    font-size: 14px;
}

.team .arrow {
    position: absolute;
    right: -50px;
    top: 8px;
    display: block;
    width: 37px;
    height: 20px;
    background-image: url('../img/about/arrow-right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.readmore {
    display: inline-block;
    margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
    #core-values img {
        width: auto;
    }
    #core-values {
        text-align: center;
    }

    .team img {
        max-width: 300px;
        margin-bottom: 30px;
    }

    .team {
        text-align: center;
    }

    .team .vcenter {
        width: 100%;
    }

    .team .arrow {
        display: none;
    }

    .team p {
        margin-bottom: 30px;
    }

    .inner-content ul img {
        margin-right: 0;
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .inner-content ul p {
        text-align: left;
    }
}

