/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #656565;
    line-height: 1.4;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;

}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
    color: #656565;    
}

#header {
    padding: 30px 0;
}

#main-menu {
    padding: 0;
    padding-top: 12px;
    list-style: none;
    margin-bottom: 10px;
    float: right;
}

#main-menu li {
    display: block;
    float: left;
    padding-top: 30px;
}

#main-menu li a {
    margin-left: 35px;
    font-size: 16px;
    font-weight: 500;
    color: #6d6e71;
    padding-bottom: 8px;
    text-align: center;
    line-height: 14px;
    height: 14px;
    display: inline-block;
    text-decoration: none;
}

#main-menu li a .line {
    width: 40%;
    background-color: #1d359f;
    height: 2px;
    opacity: 0;
    display: inline-block;
}

#main-menu li.active a, #main-menu li:hover a {
    color: #1d359f;
}

#main-menu li.active .line, #main-menu li:hover .line {
    opacity: 1;
}

.blue-line {
    margin-top: 20px;
    height: 2px;
    float: right;
    display: block;
    background-color: #1d359f;
}

.blue-line.half {
    width: 60%;
}

.blue-line.quart {
    width: 81%;
    margin-top: 0;
}

.blue-line.full {
    width: 100%;
}

.blue-text {
    color: #1d359f;
}

.gray-text {
    color: #656565;
}

.p-no-mb p, .p-no-mb ul {
    margin-bottom: 0;
}

.sub-head {
    font-size: 25px;
    color: #1d359f;
}

h1 {
    font-size: 64px;
    font-weight: 900;
}

h2 {
    font-size: 44px;
    font-weight: 900;
    color: #393939;
    line-height: 48px;
}

.blue-text,.blue-text p {
    color: #101e58;
}

.lblue-text,.lblue-text p {
    color: #1d359f;
}

#bar-services {
    position: relative;
    left: 0;
    width: 100%;
    float: left;
    display: block;
}


.bar-content {
    display: none;
}

.bar-content.active {
    display: block;
}

#bar-services .bar {
    text-align: right;
    float: left;
    padding: 50px 30% 50px 0;
    display: inline-block;
    font-size: 26px;
    color: #ffff;
    background-color: #132566;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 20px;
    width: 90%;
    cursor: pointer;
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    background-position: 90% 80%;
    transition: width 300ms;
}

#bar-services .bar:hover, #bar-services .bar.active {
    background-color: #1d359f;
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
}

.readmore {
    background-color: #1d359f;
    color: #fff !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;
    min-width: 150px;
    display: block;
    padding: 8px 30px;
    text-decoration: none !important;
    text-transform: uppercase;
    border: 0;
}

.readmore:hover {
    background-color: #4d65cf;
}

#why-icons {
    font-size: 15px;
}

#why-icons img {
    max-width: 50px;
}

.testi-bubble {
    border-radius: 30px;
    background-color: #929ed2;
    color: #fff;
    padding: 80px 60px;
    font-size: 22px;
    width: 95%;
    position: relative;
    z-index: 1;
}

.testi-bubble.top {
    margin-top: 60px;
    float: left;
    margin-left: -5%;
}

.testi-bubble.bottom {
    margin-top: -30px;
    background-color: #1d359f;
    float: left;
    margin-left: 10%;
}

.ml-n-10 {
    margin-left: -20%;
}

.mr-n-10 {
    margin-left: 10%;
}

#trusted {
    margin-bottom: 80px;
}

#trusted .swiper-button-prev, #trusted .swiper-button-next {
    position: absolute;
    top: 55%;
}

#trusted .swiper-button-prev {
    left: 0;
}

#trusted .swiper-button-next {
    right: 0;
}

#trusted .swiper-button-next:after, #trusted .swiper-button-prev:after {
    font-size: 80px;
    font-weight: 900;
    color: #1d359f;
}

#footer {
    color: #fff;
}

#footer .top {
    background-color: #101e58;
    padding: 25px 0;
}

#footer .bottom {
    padding: 25px 0;
    background-color: #1d359f;
    font-size: 13px;
}

#footer ul {
    margin: 0;
}


#footer .bottom ul {
    float: right;
}

#footer .socials {
    float: right;
}

#footer .socials a {
    font-size: 12px;
    color: #000;
    background-color: #fff;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

#footer .socials a:hover{
    background-color: #ccc;
}

#footer .bottom a {
    font-size: 13px;
}

#footer ul {
    list-style: none;
}

#footer ul li {
    float: left;
}

#footer ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 900;
}


#menu-burger {
    display: block;
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #101e58;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px);
    transform: rotate(45deg) translate(-9px, -7px);
}

#menu-burger {
    display: none;
}

.full-bg {
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
    color: #fff;
}

.full-bg h2 {
    color: #fff;
}

#core-values {
    background-image: url("../img/about/core-bg.jpg");
}

.vcenter {
    position: absolute;
    top: 50%;
}

input[type=text], textarea, select {
    background-color: #ebebec !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0;
    outline: 0 !important;
    background-image: none !important;
}

@media only screen and (min-width: 1366px) {
    .full-bg {
        background-size: 100% auto;
    }
}

@media only screen and (max-width: 1200px) {
    #main-menu li a {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 991px) {

    #menu-burger {
        display: block;
    }

    #header {
        text-align: center;
    }

    #main-menu {
        width: 100%;
        margin-top: 30px;
    }

    #main-menu li {
        display: inline;
        float: none;
    }

    #home-top {
        text-align: center;
    }

    #home-top img {
        width: auto !important;
        margin-bottom: 30px;
    }

    #bar-services .bar {
        margin-bottom: 10px;
        padding: 10px 30% 10px 0;
        background-position: 95% center;
    }

    #home-services .content {
        margin: 0 10%;
    }

    #trusted img.fl {
        width: 100% !important;
        margin-left: 0;
    }
    .testi-bubble {
        margin-left: 0 !important;
        margin-right: 0 !important;;
        width: 100%;
        font-size: 19px;
    }
    .testi-bubble.top {
        margin-top: -80px;
        margin-bottom: 60px;
    }
    .testi-bubble.bottom {
        margin-top: 0;
        margin-bottom: -80px;
    }

    .blue-line.half {
        width: 100%;
    }
    
    #footer {
        text-align: center;
    }

    #footer ul {
        width: 100%;
        margin: 20px 0;
        padding: 0;
    }

    #footer ul li {
        text-align: center;
        display: inline;
        float: none;
    }

    #footer ul a {
        margin: 0 10px !important;
    }

    #footer .top ul a {
        font-size: 15px !important;
    }

    #trusted .swiper-button-next:after, #trusted .swiper-button-prev:after {
        font-size: 40px;
    }

    #main-menu {
        display: none;
        position: absolute;
        width: 100%;
        left: 0;
        background-color: #1d359f;
        top: 62px;
        margin: 0;
        z-index: 100;
    }

    #main-menu.active {
        display: block;
    }

    #main-menu li {
        width: 100%;
        float: left;
        padding: 10px 0;
    }

    #main-menu li a {
        color: #fff !important;
        margin: 0 !important;
        font-size: 18px;
    }
    #main-logo {
        height: 40px;
        float: left;
    }

    .vcenter {
        top: auto !Important;
        margin-top: 0 !important;
        float: left;
        position: relative;
    }
    .full-bg.high{
        background-size: auto 100%;
    }
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 34px;
        line-height: 38px;
    }
    h1 {
        font-size: 54px;
        line-height: 58px;
    }

}

@media only screen and (max-width: 520px) {
    .testi-bubble {
        padding: 30px 30px;
        font-size: 16px;
    }

    .testi-bubble.top {
        margin-top: -40px;
        margin-bottom: 0px;
    }

    #trusted .swiper-button-prev, #trusted .swiper-button-next {
        top: 105%;
    }

    #trusted {
        margin-bottom: 120px !important;
    }

    #bar-services .bar {
        font-size: 20px;
    }
}
